DFJSON/pipeline/CopyKOFData.json
{
	"name": "CopyKOFData",
	"properties": {
		"activities": [
			{
				"name": "KOF-file-DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "files//Datos.txt"
					},
					{
						"name": "Destination",
						"value": ".KofDatos"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"maxConcurrentConnections": 2
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from [dbo].[txtMateriales]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "KofFilesRepository",
							"type": "LinkedServiceReference"
						},
						"path": "files/MaterialesPromociones/Logs"
					},
					"validateDataConsistency": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "sku",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sku",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "position",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "position",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "packing",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "packing",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "category",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "returnable",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "returnable",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "pieces",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pieces",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "volume",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "volume",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "brand",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "brand",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "flavor",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "flavor",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "imageName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imageName",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_s1l",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_s1l",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send a failure notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "KOF-file-DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-49.eastus2.logic.azure.com:443/workflows/bb5bc06b2c66463084ab209cc8a644fe/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fxm1msoxUxO38uW_zoTiISSlKZzcFZmR2mSbkBY54_4",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "Run ID: @{pipeline().RunId}. @{activity('KOF-file-DB').Error.Message}Please, check the logs!",
						"EmailTo": "rodrigr@microsoft.com"
					},
					"datasets": [
						{
							"referenceName": "SourceDataset_s1l",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "KOF-file-DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-49.eastus2.logic.azure.com:443/workflows/bb5bc06b2c66463084ab209cc8a644fe/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fxm1msoxUxO38uW_zoTiISSlKZzcFZmR2mSbkBY54_4",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "Everything OK",
						"ErrorMessage": "Run ID: @{pipeline().RunId}. Everything OK",
						"EmailTo": "rodrigr@microsoft.com"
					},
					"datasets": [
						{
							"referenceName": "SourceDataset_s1l",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "MoveFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "KOF-file-DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "txtMateriales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "txtMaterialesProcesado",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "default"
						}
					}
				]
			},
			{
				"name": "DeleteInputFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "MoveFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "deleteFileTxtMateriales",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "KofFilesRepository",
							"type": "LinkedServiceReference"
						},
						"path": "files/MaterialesPromociones/Logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			}
		],
		"annotations": []
	}
}